*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "img info"
    ;
    justify-content: center;
    text-align: center;
    place-items: center;
}

.poll-img {
    margin-top: 5rem;
    display: grid;
    grid-area: img;
    justify-content: right;
    width: 100%;
}

.poll-img img {
    width: 85%;
    margin: 1.5rem 0 0 0;
}

.poll-info {
    margin-top: 5rem;
    grid-area: info;
    display: grid;
    grid-template-areas:
        "form"
        "buttons"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto 6rem;
    padding: 2rem 5rem;
    box-sizing: border-box;
    width: 100%;
}

.poll-info p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.poll-info div {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "button1" "button2"
    ;
    width: 100%;
    gap: 2%;
    margin-top: 3rem;
}

.survey-button {
    border-radius: 1.25rem;
    border: none;
    background-color: #3EB25E;
    width: 100%;
    padding: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

#skip-button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.4rem;
}

.form-section {
    text-align: left;
}

.form-section label {
    font-size: 1.4rem;
}

input[type=radio] {
    accent-color: #3EB25E;
    box-shadow: none !important;
    border-style: none;
}

select {
    width: 100%;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
}

input[type=checkbox] {
    accent-color: #3EB25E !important;
    box-shadow: none !important;
    border-style: none;
    border-radius: 0.2rem;
}

input[type=checkbox]:hover {
    accent-color: #3EB25E !important;
}

textarea {
    font-size: 1.25rem;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: .5rem;
    width: 100%;
    font-family: sans-serif;
}

/* Responsividade */

@media only screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img"
            "info"
        ;
        align-content: flex-start;
        padding: 2rem;
    }

    .poll-img {
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 1.5rem 0 0 0;
    }
    
    .poll-img img {
        width: 100%;
    }

    .poll-info {
        display: grid;
        grid-area: info;
        text-align: center;
        place-items: center;
        padding: 0;
    }
    
    .poll-info p {
        font-size: 1.25rem;
    }

    .poll-info div {
        width: 100%;
    }

    .form-section label {
        font-size: 1.25rem;
    }

    .survey-button {
        width: 100%;
    }
    
    .survey-button a {
        text-decoration: none;
        color: white;
        font-size: 1.25rem;
    }

    select {
        width: 100%;
        font-size: 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
    }

    textarea {
        font-size: 1rem;
    }
}