@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "img info"
    ;
    justify-content: center;
    text-align: center;
    place-items: center;
}

.poll-img {
    display: grid;
    grid-area: img;
    justify-content: right;
    width: 100%;
}

.poll-img img {
    width: 85%;
    margin: 1.5rem 0 0 0;
}

.poll-info {
    display: grid;
    grid-area: info;
    justify-content: center;
    text-align: center;
    place-items: center;
    padding: 0;
    gap: 0;
}

.poll-info h1 {
    font-size: 7rem;
    margin: 0;
}

.poll-info h2 {
    margin-bottom: 5rem;
}

.poll-info button {
    width: 50%;
    padding: 10px;
    border-radius: 1.25rem;
    border: none;
    background-color: #3EB25E;
    padding: 0.5rem;
}

.poll-info button a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* Responsividade */

@media only screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img"
            "info"
        ;
        align-content: flex-start;
        padding: 2rem;
    }

    .poll-img {
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .poll-img img {
        width: 80%;
        margin: 0;
    }

    .poll-info {
        display: grid;
        grid-area: info;
        text-align: center;
        place-items: center;
        padding: 0;
    }

    .poll-info h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .poll-info h1 {
        font-size: 3.5rem;
    }

    .poll-info h2 {
        font-size: 1.5rem;
    }
}